<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${edit_user.getId()})}" th:object="${edit_user}">
    <label for="name"> Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="UPDATE USER"/>
</form>

<br/>
<hr/>

<a href="/users">Go to the List of Users</a>

</body>
</html>