<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User ID</title>
</head>
<body>
<table border="3">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    </thead>
    <tbody>
    <td th:text="${one_user.getId()}"/>
    <td th:text="${one_user.getName()}"/>
    <td th:text="${one_user.getAge()}"/>
    </tbody>
</table>

<br/>
<a th:href="@{/users/{id}/edit(id=${one_user.getId()})}">Edit</a>
<hr/>

<form th:method="DELETE" th:action="@{/users/{id}(id=${one_user.getId()})}">
    <input type="submit" value="DELETE">
</form>

<hr/>

<a href="/users">Go to the List of Users</a>
</body>
</html>